@model Car.Models.ADMIN

<table class="table">
    <tr>
        <th width="50%"> Tổng tài khoản Admin </th>
        <th width="50%"> Tổng tài khoản User</th>
    </tr>

    <tr>
        <td>
            @ViewBag.Admin 
        </td>
        <td>

            @ViewBag.User 
        </td>
       

    </tr>


</table>