
@{
    ViewBag.Title = "Xacnhanquenemail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section id="view-all-projects" class="call-to-action bg-color text-center" data-speed="5" data-type="background">
    <div>

        <table align="center" cellpadding="20">
            <h2 style="text-align:center; padding:20px">Chúng tôi đã gửi xác nhận email của bạn , và gửi thông tin tài khoản cho email của bạn , xin hãy xác nhận</h2>
            <br />
            <a class="btn-primary btn-sm" href="@Url.Action("Dangnhap","Nguoidung")" id="searchbtn" style="text-decoration:none;">Đăng Nhập</a>
        </table>
    </div>
</section>



