
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div id="content" class="no-top no-bottom">
    <section id="section-about-us-2" class="side-bg no-padding">
        <div class="image-container col-md-5 pull-left" data-delay="0"></div>
        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-md-6 ">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.122066067381!2d106.71237031402424!3d10.801961961677458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2sHUTECH+University!5e0!3m2!1sen!2s!4v1527956335803" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6  " data-animation="fadeInRight" data-delay="200">
                        <h2 class="col-md-offset-3">Giới thiệu về trang web</h2>
                        <p class="intro">Hiện nay, nhu cầu “Công Nghiệp Hóa- Hiện Đại Hóa” ngày càng phát triễn một cách mạnh mẽ thì song song đó việc “Kinh Doanh Online” cũng được phát triễn một cách nỡ rộ. Một trong những điểm tiêu biểu là áp dụng công nghệ thông tin vào hầu hết các hoạt động. Nhờ đó, các công việc được thực hiện một cách nhanh chóng, chính xác và đạt kết quả cao hơn. </p>
                        <p class="intro">Chính vì vậy mà đối với một cửa hàng hay shop, thì việc quảng bá và giới thiệu đến khách hàng các sản phẩm mới là một nhu cầu tát yếu. Vậy để quảng bá thương hiệu của một cửa hàng hay shop đến với mọi người sẽ như thế nào? Làm sao để khách hàng có thể tiếp cận đến các sản phẩm của shop mà không cần nhất thiết phải đến tận nơi để mua? </p>
                        <p class="intro">Xuất phát từ những lý do trên, cùng với sự hướng dẫn của thầy Nguyễn Kim Hưng, vì vậy nhóm em đã thực hiện đồ án <b>“XÂY DỰNG WEBSITE BÁN XE HƠI ”</b> cho một shop bán xe hơi <b>DCG-Cars</b> từ việc vận dụng những kiến thức đã được học vào thực tiễn.</p>
                    </div>
                    <div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-team">
        <div class="container">
            <h2 class="col-md-offset-5">Giới thiệu về chúng tôi</h2>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 container-4">

                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="~/images/HuyJune.jpg" class="img-responsive" width="400px" alt="" />
                        </div>
                        <div class="team-desc">
                            <h3 class="col-md-offset-2">Phạm Đức Huy</h3>
                            <p class="lead">Chức vụ: Nhóm trưởng</p>
                            <div class="small-border" width="400px"></div>
                            <p>MSSV: 1511060819</p>
                            <p>Lớp : 15DTH10</p>
                            <div class="social">
                                <a href="https://www.facebook.com/code1648"><i class="fa fa-facebook fa-lg"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- team close -->
                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="~/images/DucTri.jpg" class="img-responsive" width="400px" alt="" />
                        </div>
                        <div class="team-desc col-md-12">
                            <h3 class="col-md-offset-2">Bùi Quang Đức Tri</h3>
                            <p class="lead">Thành viên</p>
                            <div class="small-border"></div>
                            <p>MSSV: 15110608750</p>
                            <p>Lớp : 15DTH10</p>
                            <div class="social">
                                <a href="https://www.facebook.com/kidnhoc"><i class="fa fa-facebook fa-lg"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- team close -->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-team">
        <div class="container">
            <h2 class="col-md-offset-5">gửi thư chúng tôi</h2>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-md-offset-4 container-4">
                    
                        <form class="leave-comment" method="post">
                            <h4 class="m-text26 p-b-36 p-t-15">
                                Hãy gửi thư góp ý cho chúng tôi nhé !
                            </h4>

                            <div class="bo4 of-hidden size15 m-b-20">
                                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Full Name">
                            </div>

            

                            <div class="bo4 of-hidden size15 m-b-20">
                                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="Email Address">
                            </div>

                            <textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="message" placeholder="Message"></textarea>

                            <div class="w-size25">
                                <!-- Button -->
                                <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </section>
    <section id="section-testimonial" class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                    <h1>Cảm Nhận Khách Hàng</h1>
                    <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                    <div class="spacer-single"></div>
                </div>
            </div>
            <div id="testimonial-carousel" class="de_carousel  wow fadeInUp" data-wow-delay=".3s">
                <div class="col-md-6 item">
                    <div class="de_testi">
                        <blockquote>
                            <p>I'm always impressed with the services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <div class="de_testi_by">
                                John, Customer
                            </div>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="de_testi">
                        <blockquote>
                            <p>I have very much enjoyed with your services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <div class="de_testi_by">
                                Michael, Customer
                            </div>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="de_testi">
                        <blockquote>
                            <p>I totally recommend your services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <div class="de_testi_by">
                                Patrick, Customer
                            </div>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="de_testi">
                        <blockquote>
                            <p>I have very much enjoyed with your services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <div class="de_testi_by">
                                James, Customer
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section begin -->
    <section id="view-all-projects" class="call-to-action bg-color dark text-center" data-speed="5" data-type="background">
        <a href="@Url.Action("Intro", "Car")" class="btn btn-line-black btn-big">Talk With Us</a>
    </section>
    <!-- logo carousel section close -->

</div>